<section class="stats-section">
  <h2 class="visually-hidden">Stats section</h2>

  <ul class="stats-list">
    <li class="stats-item">
      <picture>
        <source srcset="./img/total.webp 1x, ./img/total@2x.webp 2x" type="image/webp" />
        <source srcset="./img/total.png 1x, ./img/total@2x.png 2x" type="image/png" />
        <img src="./img/total.png" alt="Total icon" width="84" />
      </picture>

      <div class="stats-item-title-text-container">
        <h3 class="stats-item-title">Total Customers</h3>
        <p class="stats-item-text">5,423</p>

        <div class="stats-item-icon-detail-container">
          <svg width="20" height="20" class="stats-item-icon top">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
          <p class="stats-item-detail"><span class="top">16%</span> this month</p>
        </div>
      </div>
    </li>

    <li class="stats-item">
      <picture>
        <source srcset="./img/members.webp 1x, ./img/members@2x.webp 2x" type="image/webp" />
        <source srcset="./img/members.png 1x, ./img/members@2x.png 2x" type="image/png" />
        <img src="./img/members.png" alt="Members icon" width="84" />
      </picture>

      <div class="stats-item-title-text-container">
        <h3 class="stats-item-title">Members</h3>
        <p class="stats-item-text">1,893</p>

        <div class="stats-item-icon-detail-container">
          <svg width="20" height="20" class="stats-item-icon down">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
          <p class="stats-item-detail dowm"><span class="down">1%</span> this month</p>
        </div>
      </div>
    </li>

    <li class="stats-item">
      <picture>
        <source srcset="./img/total.webp 1x, ./img/total@2x.webp 2x" type="image/webp" />
        <source srcset="./img/total.png 1x, ./img/total@2x.png 2x" type="image/png" />
        <img src="./img/total.png" alt="Total icon" width="84" />
      </picture>

      <div class="stats-item-title-text-container">
        <h3 class="stats-item-title">Active</h3>
        <p class="stats-item-text">189</p>

        <picture>
          <source srcset="./img/active-avatars.webp 1x, ./img/active-avatars@2x.webp 2x" type="image/webp" />
          <source srcset="./img/active-avatars.png 1x, ./img/active-avatars@2x.png 2x" type="image/png" />
          <img src="./img/active-avatars.png" alt="Active-avatars " />
        </picture>
      </div>
    </li>
  </ul>
</section>